<ion-content>
    <div class="container">
        <div class="background">
            <b>MISS PASS</b>
            <div class="form">
                <ion-input type="text" name="username" id="username" class="user-eff" placeholder="Nhập tên tài khoản">
                    <span class="focus-border"><i></i></span>
                </ion-input>
                <ion-input type="password" name="password" id="password" class="user-eff" placeholder="">
                    <span class="focus-border"><i></i></span>
                </ion-input>
            </div>
            <div class="form">
                <button type="submit" class="btn" (click)="backMess()">LẤY MẬT KHẨU</button>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <div class="foot ">
        <p>from</p>
        <b>FACE BOOK</b>
    </div>
</ion-footer>